@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@300;500&display=swap');

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 30px auto;
    max-width: 1200px;
  }

  .ok{
    margin-top: 40px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
  }
  
  .text-section2 {
    flex-basis: 50%;
  }

  .text-section2 h1{
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .feature2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
    
  .feature2 h2 {
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #00ffff;
  }
  
  .feature2 p {
    font-size: 1rem;
    color: #6c757d;
    font-family: 'Poppins', sans-serif;
  }
  
  .image-section2 {
    flex-basis: 35%
  }
  
  .image-section2 img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive design */
  
  @media (max-width: 768px) {
    .container2 {
      flex-direction: column;
    }
  
    .text-section2 {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
  
    .image-section2 {
      flex-basis: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .feature2 {
      flex-direction: column;
    }
  
  }