.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }

  
  .text-section {
    flex-basis: 50%;
  }

  .text-section h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  
  .feature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
  
  .feature i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #007bff;
  }
  
  .feature h2 {
    font-family: 'Orbitron', sans-serif;
    color: #00ffff;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .feature p {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .image-section {
    flex-basis: 40%;
    height: 85vh;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive design */
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .text-section {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
  
    .image-section {
      flex-basis: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .feature {
      flex-direction: column;
    }
  
    .feature i {
      margin-bottom: 1rem;
    }
  }